<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression">
   <!-- <test name="Login Tests">
        <classes>
            <class name="tests.vytrack.LoginTests"/>
        </classes>
    </test>
    <test name="New calendar Test">
        <classes>
            <class name="tests.vytrack.CreateCalendarEventTests"/>
        </classes>
    </test>-->
    <test name="Vytrack Regression Test">
        <parameter name="test" value="regression"></parameter>
        <packages>
            <package name="tests.vytrack"></package>
        </packages>

    </test>

</suite>
